<div class="container">
  <br/>
  <h2 class="text-center text-primary">Address Management</h2>
  <br/>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Street Name</th>
        <th>Ward</th>
        <th>District</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of listAddress" (click)="editAddress(address)">
        <td>{{address.street}}</td>
        <td>{{address.ward}}</td>
        <td>{{address.district}}</td>
        <td>{{address.city}}</td>
        <td>{{address.country}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-primary" (click)="addNewAddress()">Add New Address</button>
    <button type="button" class="btn btn-success float-right" (click)="exportToCsv()">Export To Csv</button>
  </div>
</div>
